.sectionContainer {
  height: 7rem;
  box-shadow: rgb(199 199 199 / 34%) 1px 1px 60px 0px;
  padding: 0;

  .sectionContent {
    width: 1350px;
    margin: 0 auto;
    padding: 32px 0;
    .sectionTitle {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 32px;
      color: var(--gray-900);
      text-align: center;
    }
  }
}
