.sectionContainer {
  padding: 0;
  background: var(--gray-100);
}
.sectionContent {
  max-width: 1350px;
  margin: 0 auto;

  padding: 32px 50px;

  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 984px) {
    flex-direction: column;
  }
  .callToAction {
    width: 50%;
    @media only screen and (max-width: 984px) {
      width: 100%;
    }
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    span {
      color: var(--orange-main);
      max-width: 80%;
      font-size: 28px;
      text-transform: uppercase;
    }
    h1 {
      color: var(--blue-main);
      font-size: 54px;
      font-weight: bold;
    }
    p {
      color: var(--blue-main);
      font-weight: normal;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .buttonWrapper {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .button {
        height: 52px;
        width: 52px;
        border-radius: 50%;
        margin-right: 12px;
        background-color: var(--orange-main);
        display: flex;
        justify-content: center;
        align-items: center;
        .buttonIcon {
          color: white;
        }
      }
      span {
        color: var(--blue-main);
        font-weight: normal;
        font-size: initial;
      }
    }
  }
  .video {
    width: 50%;
    margin: 0 32px 0 0;

    @media only screen and (max-width: 984px) {
      width: 100%;
      margin: 32px 0 0 0;
    }
  }
}
