.headerContainer {
  height: 7rem;
  box-shadow: rgb(199 199 199 / 34%) 1px 1px 60px 0px;
  padding: 0;
}
.headerContent {
  max-width: 1250px;
  padding: 0 50px;
  height: 7rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logoContainer {
    width: 250px;
    position: relative;
    height: 58.33px;
  }

  .buttonIcon {
    font-size: 32px;
  }
  @media only screen and (max-width: 984px) {
    .logoContainer {
      width: 167.5px;
      position: relative;
      height: 39.08px;
    }
  }

  img {
    max-width: 250px;
  }

  @media only screen and (min-width: 984px) {
    .iconButton {
      display: none;
    }
  }
  @media only screen and (max-width: 984px) {
    nav {
      display: none !important;
    }
  }
  nav {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: var(--blue-main);
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 0.7rem;
      height: 7rem;
      line-height: 7rem;
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--gray-900);
      }
    }
  }
}
