.sectionContainer {
  padding: 0;
  background: var(--gray-100);
  background: #fafaff;
  border-bottom: 6px solid var(--orange-main);
}
.sectionContent {
  max-width: 1350px;
  margin: 0 auto;
  padding: 80px 50px;
  .sectionTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--gray-900);
    text-align: center;
  }
  .content {
    text-align: center;
    margin-top: 12px;
  }
}
