:root {
  --white: #ffffff;
  --gray-100: #fafaff;
  --gray-200: #f7f7f7;
  --gray-300: #b0afad;
  --gray-900: #343434;
  --blue-soft: #d6f1fd;
  --blue-main: #1f2471;
  --orange-main: #ef8126;
  --orange-darken: #e18212;
  --gold: #f0a001;
  --gold-2: #f0c001;
  --green: #4cbf89;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--gray-900);
  background: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
