@import "~bootstrap/scss/bootstrap";

:root {
  --white: #ffffff;
  --gray-100: #fafaff;
  --gray-200: #f7f7f7;
  --gray-300: #b0afad;
  --gray-400: #8b8a8a;
  --gray-900: #343434;
  --blue-soft: #d6f1fd;
  --blue-main: #1f2471;
  --orange-main: #ef8126;
  --orange-darken: #e18212;
  --gold: #f0a001;
  --gold-2: #f0c001;
  --platinum: #777674;
  --platinum-2: #b0afad;
  --green: #4cbf89;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--gray-900);
  background: var(--white);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#ReactSimpleImageViewer {
  z-index: 999;
}

.leaflet-top,
.leaflet-left,
.leaflet-bottom,
.leaflet-right {
  z-index: 1;
}
